---
import { Image } from "astro:assets";
import { PLACES } from "@data/PLACES";
import { ARTISTS } from "@data/ARTISTS";
import ColorsBar from "./ColorsBar.astro";
import Footer from "./Footer.astro";
import LogoEndemico from "./icons/LogoEndemico.astro";

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif}"
);
---

<section
  class="swiper-slide bg-secondary p-4 md:p-[2.8vh] !flex flex-col justify-between gap-2"
>
  <header class="mx-auto text-center w-[40vh] text-primary">
    <LogoEndemico />
    <ColorsBar />
  </header>
  <article class="w-fit mx-auto">
    <section
      class="grid grid-cols-3 md:grid-cols-4 gap-2 md:gap-2 xl:gap-[2vh] place-items-center w-full max-w-full md:max-w-[100vh] h-fit mx-auto"
    >
      {
        Object.entries(PLACES).map(([id, place]) => (
          <figure
            class:list={[
              "places-cards",
              "relative w-full h-full rounded-xl overflow-hidden cursor-pointer group shadow-lg shadow-primary/10",
            ]}
          >
            <div class="absolute w-full h-full -left-full z-10 p-4 bg-primary/80 group-hover:left-0 ease-in duration-200 hidden md:grid place-content-center">
              <h2 class="text-center font-bold leading-none text-base text-secondary">
                {place.name}
              </h2>
            </div>
            <Image
              id={id}
              src={images[place.image]()}
              width={308}
              height={173}
              loading="eager"
              alt=""
              class="w-full h-full aspect-[1920/1080] object-cover"
            />
          </figure>
        ))
      }
    </section>
    <ul
      class="hidden md:flex gap-4 mx-auto w-fit my-[2vh] flex-wrap leading-none justify-center"
    >
      {
        Object.values(ARTISTS).map((artist, i) => (
          <li class="flex gap-4 items-center">
            <a href={artist.social_media} class="hover:underline text-base">
              {artist.name}
            </a>
            {i !== Object.values(ARTISTS).length - 1 && <span>•</span>}
          </li>
        ))
      }
    </ul>
  </article>
  <Footer />
</section>
