---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import { YouTube } from "astro-embed";
import type { Place } from "@customTypes/types";
import Paragraph from "./Paragraph.astro";
import { SITE } from "@data/SITE";

interface Props {
  class?: string;
  data: Place;
  id: string;
}

const {
  class: customStyle,
  id,
  data: {
    name,
    place,
    description,
    latitude,
    longitude,
    image,
    video_id,
    illustrator,
  },
} = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif}"
);

if (!images[image])
  throw new Error(
    `"${image}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`
  );
---

<article
  id={id}
  class:list={[
    `places swiper relative swiper-${id}`,
    "h-full w-full",
    customStyle,
  ]}
>
  <div class="swiper-wrapper h-full">
    <div
      id={`${id}-wrapper`}
      class="swiper-slide max-w-[80vh] p-4 md:p-[2.8vh] landscape:pr-0 pl-[10vh] md:pl-[11vh] landscape:pt-[10vh] w-full h-full !flex flex-col gap-4"
    >
      <div class="h-full">
        <Image
          id=`image_${id}-mobile`
          src={images[image]()}
          width={1595}
          height={897}
          loading="eager"
          alt={`Ilustración de ${name} realizada por ${illustrator.name}`}
          class="place-img-mobile landscape:hidden w-full h-fit aspect-[1920/1080] rounded-xl shadow-lg object-cover mb-4 z-[200]"
        />
        <header>
          <h2
            class="text-3xl leading-[30px] landscape:text-[4.8vh] landscape:leading-[4.8vh] font-bold text-primary"
          >
            {name}
          </h2>
          <p class="font-medium tracking-wide md:text-[2vh]">
            {place}
          </p>
        </header>
        <section class="mt-2 grid gap-2 relative">
          <Paragraph
            class="place-description h-full text-pretty text-primary/90 leading-tight xs:leading-tight md:leading-[2vh] text-sm xs:text-sm md:text-[1.6vh] landscape:line-clamp-none transition-[max-height] duration-300 overflow-y-hidden line-clamp-3"
            text={`${description}`}
            decorator="i"
          />
          <address class="leading-3 text-primary">
            <strong class="font-medium text-sm md:text-[1.8vh]">Por:</strong>
            <a
              href={illustrator.social_media}
              target="_blank"
              class="hover:underline text-sm md:text-[1.8vh]"
              >{illustrator.real_name}
              <span class="text-xs md:text-[1.5vh]"
                >({illustrator.name}) ↗</span
              ></a
            >
          </address>
          <button
            class="read-more-btn landscape:hidden text-sm px-2 py-1 w-fit justify-self-end hover:bg-primary hover:text-secondary duration-150 rounded-lg"
            >Continuar leyendo</button
          >
        </section>
      </div>
      <YouTube
        id={video_id}
        class="place-video aspect-video w-full self-end rounded-xl md:rounded-2xl transition-[margin] duration-300"
        params=`fs=1&modestbranding=1&showinfo=1&rel=0&origin=${SITE.URL}`
      />
    </div>
    <figure
      class="swiper-slide !hidden landscape:!block !w-fit landscape:h-full p-4 md:p-[2.8vh]"
    >
      <div
        id={`${id}-image`}
        class="md:cursor-pointer w-fit h-fit landscape:h-full mt-[40%] landscape:mt-0"
      >
        <Image
          src={images[image]()}
          width={1595}
          height={897}
          loading="eager"
          alt={`Ilustración de ${name} realizada por ${illustrator.name}`}
          class="w-full h-fit md:h-fit xl:h-full aspect-[1920/1080] pointer-events-none rounded-2xl shadow-lg object-cover"
        />
      </div>
    </figure>
  </div>
</article>

<style is:global>
  .medium-zoom-overlay {
    z-index: 100;
  }

  @media (orientation: landscape) {
    .medium-zoom-overlay {
      display: none;
    }
  }

  .medium-zoom-image.medium-zoom-image {
    transition:
      transform 0.3s cubic-bezier(0.2, 0, 0.2, 1),
      margin 0.3s cubic-bezier(0.4, 0, 0.2, 1) !important;
  }
</style>

<script>
  import { placesList } from "@utils/domReferences";
  import { readMore, readLess } from "@utils/utilities";
  import mediumZoom from "medium-zoom";

  placesList.forEach((place) => {
    const btn = place.querySelector(".read-more-btn") as HTMLButtonElement;
    const image = place.querySelector(".place-img-mobile") as HTMLImageElement;
    const video = place.querySelector(".place-video") as HTMLVideoElement;
    const text = place.querySelector(
      ".place-description"
    ) as HTMLParagraphElement;

    // Read more
    const minHeight = `${text.getBoundingClientRect().height}px`;

    text.style.setProperty("--min-height", minHeight);
    text.style.maxHeight = minHeight;

    const handleReadMoreButton = () => {
      if (!btn.getAttribute("data-isActive")) {
        readMore({ btn, image, video, text });
      } else {
        readLess({ btn, image, video, text, minHeight });
      }
    };

    btn.addEventListener("click", handleReadMoreButton);

    // Image zoom
    const zoom = mediumZoom(`#image_${place.id}-mobile`, {
      background: "#282827cc",
      margin: 16,
    });

    image.addEventListener("click", () => {
      zoom.toggle();
    });
  });
</script>
