---
import { SITE } from "@data/SITE";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={SITE.description} />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      media="(prefers-color-scheme: light)"
      href={SITE.favicon.light_mode}
    />
    <link
      rel="icon"
      type="image/svg+xml"
      media="(prefers-color-scheme: dark)"
      href={SITE.favicon.dark_mode}
    />
    <title>{SITE.title}</title>
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content={SITE.URL} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={SITE.title} />
    <meta property="og:description" content={SITE.description} />
    <meta
      property="og:image"
      content={SITE.OG_image.light_mode}
      media="(prefers-color-scheme: light)"
    />
    <meta
      property="og:image"
      content={SITE.OG_image.dark_mode}
      media="(prefers-color-scheme: dark)"
    />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:domain"
      content={SITE.URL.replace("https://", "")}
    />
    <meta property="twitter:url" content={SITE.URL} />
    <meta name="twitter:title" content={SITE.title} />
    <meta name="twitter:description" content={SITE.description} />
    <meta
      name="twitter:image"
      content={SITE.OG_image.light_mode}
      media="(prefers-color-scheme: light)"
    />
    <meta
      name="twitter:image"
      content={SITE.OG_image.light_mode}
      media="(prefers-color-scheme: dark)"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="w-full h-full min-h-[100dvh] relative font-montserrat bg-secondary"
  >
    <slot />
  </body>
</html>

<style is:global>
  html {
    height: 100%;
    display: relative;
  }
</style>
